/* reset */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #E1F5C4;
    font-family: 'Rubik', sans-serif;}


/* pattern */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

    @media (min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0;
        }
        
    }

/* linha */
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;

    *zoom: 1;
    *display: inline;
}

/* duas colonas */
@media (min-width: 480px) {
    .col-2 {
        width: 50%;
    }
}

/* tres colunas */
@media (min-width: 728px) {
    .col-3 {
        width: 33.3333%;
    }
}

/* sidebar */
@media (min-width: 992px) {
    .col-content {
       width: 70%;
    }

    .col-sidebar {
       width: 30%;
    }
}

.p-10 {
    padding: 10px;
}

.teste {
    background: #f5d5fe;
    padding: 5px;
    text-align: center;
    margin: 2px 0;
    color: #fff;
}

/*--------*/

.left {
    float: left;}

.right{
    float: right;}

/* ---------*/

header {
    background: #F9D423;
}

header .logo a{
    color: #E1F5C4;
    font-size: 1em;
    transition: 0.4s;
}

header .logo a span{
    color: #333;}

.menuTop {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 30px;
    transition: 0.4s;
    overflow: hidden;
}

.menuTop ul li {
   display: inline;}

.menuTop ul li a{
    display: inline-block;
    font-size: 0.6em;
    padding: 5px 5px;
    margin: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menuTop ul li a:hover {
    color: white;
    transition: all 0.2s ease-in-out;
}

.topContent {
    padding-top: 10px;
    padding-bottom: 10px;
}

.topContent i {
    font-size: 25px;
    line-height: 40px;
}

nav {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: -100vh;
    display: block;
    background: #E1F5C4;
    text-align: center;
    transition: 0.4s;
}

.mobileSideBarIsOpen {
    left: 0;
}


nav ul li {
    display: block;
}

nav ul li a {
    width: 100%;
    display: inline-block;
    color: #333;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 10px 10px;
}

nav ul li a:hover {
    background: #333; 
    color: #E1F5C4;
}

/* ----- MAIN -----*/

main {
    margin-top: 40px;
    background: white;
}

/* ----- CARDS -----*/

.card-1 > button{
    background: #F9D423;
    color: #E1F5C4;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 35%;
    cursor: pointer;
}

.card-1 h3{
    font-size: 1.6em;
    margin-top: 30px;
    text-align: center;
    color: #333;
}

.card-1 p{
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    color: #333;
    font-style: italic;
}

.card-1 img {
    border-radius: 100%;
    max-width: 100%;
}

/* ----- FOOTER -----*/

footer {
    background: #333;
    text-align: center;
    padding: 50px 0;
    margin-top: 20px;
}

footer>p {
    margin-top: 20px;
    font-size: 0.6em;
}


/* MEDIA QUERY */

@media (min-width: 480px) {
    .card-1 {
        width: 50%;
    }

    .card-1 p{
        font-size: 1em;
        line-height: 20px;
    }
}

@media (min-width: 728px) {
    .menuTop {
        display: block;
        top:0;
    }
    .topContent i {
        display: none;
    }
    header .logo a{
        color: #E1F5C4;
        font-size: 2em;
    }
    .topContent {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 200px;
        transition: 0.4s;
    }
    nav {
        position: relative;
        left: 0;
    }
    nav ul li {
        display: inline-block;
    }
    .menuTop ul li a{
        display: inline-block;
        font-size: 0.6em;
        padding: 5px 5px;
        margin: 5px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .menuTop ul li a:hover {
        color: white;
        transition: all 0.2s ease-in-out;
    }
    .card-1 {
        width: 50%;
    }
    .card-1 p{
        font-size: 1.2em;
        line-height: 30px;
    }
    

@media (min-width: 992px) {
    .card-1 {
        width: 100%;
    }
    .card-1 img {
        max-width: 100%;
    }

    .card-1 p{
        font-size: 1em;
        line-height: 20px;
    }
}