/* RESET */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #E1F5C4;
    
}

body {
    font-family: 'Rubik', sans-serif;
}



/* PATTERN */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

    @media (min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0;
        }
        
    }

/* LINE */
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;

    *zoom: 1;
    *display: inline;
}

/* duas colonas */
@media (min-width: 480px) {
    .col-2 {
        width: 50%;
    }
}

/* tres colunas */
@media (min-width: 728px) {
    .col-3 {
        width: 33.3333%;
    }
}

/* sidebar */ 
@media (min-width: 992px) {
    .col-content {
       width: 70%;
       padding-left: 40px;
       padding-right: 40px;
    }

    .col-sidebar {
       width: 30%;
       padding-left: 40px;
       padding-right: 40px;
    }
}

.wrapper{

}

.wrap {
    margin-bottom: 70px;
}

.title-1 {
    border-bottom: solid 2px #333;
    margin-bottom: 20px;
}

.title-1 span{
    background: #333;
    padding: 7px 12px 4px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.left {
    float: left;}

.right{
    float: right;}


    
/* INSTAGRAM FEED*/

.instagramF {
    display: none;
    margin: 0px 2px;
}

.instagramF img {
    width: 30%;
}
.instagramF img:hover {
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

/*----- HEADER----*/

header {
    position: sticky;
    top: 0;
    z-index: 121;
    background-image: url("../img/header-background.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F9D423;
}

header .logo a{
    color: #E1F5C4;
    font-size: 1em;
    -webkit-transition: 0.4s;
       -moz-transition: 0.4s;
         -o-transition: 0.4s;
            transition: 0.4s;
}

header .logo a span{
    color: #333;}

.menuTop {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 30px;
    -webkit-transition: 0.4s;
       -moz-transition: 0.4s;
         -o-transition: 0.4s;
            transition: 0.4s;
    overflow: hidden;
}

.menuTop ul li {
   display: inline;}

.menuTop ul li a{
    display: inline-block;
    font-size: 0.6em;
    padding: 5px 5px;
    margin: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menuTop ul li a:hover {
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.topContent {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navHolder {
}

.topContent i {
    font-size: 25px;
    line-height: 40px;
}

/*----- NAVIGATION----*/

nav {
    position: absolute;
    width: 100%;
    height: calc(100% - 58px);
    left: -120vh;
    display: block;
    background: #E1F5C4;
    text-align: center;
    -webkit-transition: 0.4s;
       -moz-transition: 0.4s;
         -o-transition: 0.4s;
            transition: 0.4s;
}

.mobileSideBarIsOpen {
    left: 0;
}

nav ul{
    display: block;
}

nav>ul>li {
    display: block;
}

nav>ul>li>a {
    width: 100%;
    display: block;
    color: #333;
    font-weight: bold;
    letter-spacing: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px white;
}

nav>ul>li>a.active,
nav>ul>li>a:hover {
    background: #333; 
    color: #E1F5C4;
}

.searchWrap {
    display: block;
}

.searchWrap i {
    color: #333;
    margin-top: 20px;
}

.searchWrap form::before {
    position: absolute;
    top: -9px;
    right: 15px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 6px;
    border-color: transparent transparent #333 transparent;
}
.search {
    visibility: hidden;
    opacity: 0;
    top: 140%;
    background: white;
    position: absolute;
    border-top: solid 3px #333;
    padding: 20px 20px;
    margin-left: -198px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.34);
       -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.34);
            box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.34);
    -webkit-transition: 0.4s;
       -moz-transition: 0.4s;
         -o-transition: 0.4s;
            transition: 0.4s;
}

.searchWrapIsOpen {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.searchWrap button, .searchWrap input {
    margin: 0 -5px 0 0;
}

.searchWrap input {
    padding: 6px 5px 6px 5px;
    color: #333;
    outline: none;
}

.searchWrap button {
    background: #333;
    color: white;
    padding: 5px;
    border: solid #333;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    outline: none;
}

/*----- MOBILE SIDEBAR ----*/

.mobileSidebar {
    position: fixed;
    width: 260px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 121;
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
    -webkit-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
            transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);}
    .mobileSidebar--open {
        -webkit-transform: translateX(0);
                transform: translateX(0);

    }

/*----- OPEN MOBILE NAV----*/

.contentOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 120;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
	        transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
	background-color: rgba(0, 0, 0, 0.8); }
	.contentOverlay--isVisible {
		opacity: 1;
        visibility: visible;}

.open {
    -webkit-transform: translateX(260px);
            transform: translateX(260px);
	-webkit-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
	        transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
}

.hidden {
    overflow: hidden;
}


/* ----- MAIN -----*/

main {
    margin-top: 80px;
    background: white;
    -webkit-transform: translateX(0);
            transform: translateX(0);
	-webkit-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
	        transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
}

/* ----- CARDS -----*/

.card-1 h3, .card-1 p, .card-1 button, .card-1 img {
    margin-bottom: 20px;
}

.card-1 h3{
    font-size: 1.4em;
    text-align: center;
    color: #333;
}

.card-1 p{
    font-size: 1em;
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    color: #333;
}

.card-1 img {
    border-radius: 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.card-1 button{
    background: #F9D423;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 35%;
    cursor: pointer;
    outline: none;
}

.card-2 {
    width: 100%;
    border-bottom: dashed 1px #999;
    margin-bottom: 90px;
    border-bottom-width: 2px;
}

.card-2 h1, .card-2 h2, .card-2 h3, .card-2 h3>span, .card-2 p,.card-2 img, .card-2 .readMore {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.card-2 h1{
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.card-2 h2 {
    text-transform: uppercase;
    text-decoration: underline;
}

.card-2 h3>span {
    color: pink;
}

.card-2 p{
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 27px;
}

.card-2 img{
    width: 100%;
    border-radius: 5px;
}

.readMore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.readMore a {
    color: white;
    width: auto;
    text-align: center;
    background: #333;
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
}

.readMore a::after {
    content: '>';
    margin-left: 10px;
}

/* ----- FOOTER -----*/

footer {
    background: #333;
    text-align: center;
    padding: 50px 0;
    margin-top: 20px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
	-webkit-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
	        transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
}

footer>p {
    margin-top: 20px;
    font-size: 0.6em;
}


/* MEDIA QUERY */

@media (min-width: 480px) {
    .card-1 {
        width: 50%;
    }

    .card-1 p{
        font-size: 1em;
        line-height: 20px;
    }
    .instagramF {
        display: inline;
        margin: 0px 2px;
    }
    
    .instagramF img {
        width: 32%;
    }
    
}

@media (min-width: 728px) {
    .instagramF {
        display: inline;
        margin: 0px 2px;
    }
    
    .instagramF img {
        width: 16%;
    }
    .menuTop {
        display: block;
        top:0;
    }
    .topContent i {
        display: none;
    }
    header {
        position: relative;
    }
    header .logo a{
        color: #E1F5C4;
        font-size: 2em;
    }
    .topContent {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 200px;
        -webkit-transition: 0.4s;
           -moz-transition: 0.4s;
             -o-transition: 0.4s;
                transition: 0.4s;
    }
    nav {
        position: sticky;
        display: block;
        z-index: 121;
        top: 0;
        left: 0;
    }
    nav ul{
        display: inline-block;
    }
    nav>ul>li {
        display: inline-block;
        margin-right: -4px;
    }
    nav>ul>li>a {
        padding: 10px 10px;
        border-bottom: none;
    }
    nav>ul>li>a::before {
        content: '';
        margin-left: 5px;
    }
    .searchWrap {
        display: inline-block;
    }
    .searchWrap i {
        color: #333;
        margin-top: 10px;
        margin-left: 50px;
    }
    .menuTop ul li a{
        display: inline-block;
        font-size: 0.6em;
        padding: 5px 5px;
        margin: 5px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .menuTop ul li a i{
        font-size: 3.5em;
    }
    .menuTop ul li a:hover {
        color: white;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
             -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
    }
    .card-1 {
        width: 50%;
    }
    .card-1 p{
        font-size: 1.2em;
        line-height: 30px;
    }
    

@media (min-width: 992px) {
    .instagramF {
        display: inline;
        margin: 0px 2px;
    }
    
    .instagramF img {
        width: 31%;
    }
    .card-1 {
        width: 100%;
    }
    .card-1 img {
        max-width: 100%;
    }

    .card-1 p{
        font-size: 1em;
        line-height: 20px;
    }
}
